@charset "UTF-8";

:root {
  --inter: 'Inter', sans-serif;
  --mulish: 'Mulish', sans-serif;
  --openSans: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

div.container {
  max-width: 1000px;
  padding: 50px 20px 0 20px;
  margin: auto;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

span#logo {
  font-family: var(--inter);
}

header ul {
  list-style: none;
  display: flex;
  gap: 48px;
}

header ul li {
  font-family: var(--mulish);
}

a {
  text-decoration: none;
  color: #1F1534;
}

ul a {
  opacity: 0.5;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  opacity: 1;
}

a:visited {
  color: #1F1534;
}

main {
  display: flex;
  justify-content: space-between;
}

main div#text {
  padding: 50px 0;
  max-width: 490px;
}

h1 {
  font-family: var(--mulish);
  font-weight: normal;
  font-size: 3em;
  color:  #1F1534;;
}

span {
  font-weight: 700;
  color: #89c5cc;
}

p {
  font-family: var(--openSans);
  color: #7D7987;
  font-size: 14px;
  margin: 40px 0;
  line-height: 28px;
}

button {
  font-family: var(--openSans);
  background-color: #69B99D;
  color: #F9F9F9;
  border: none;
  padding: 17px 30px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  gap: 10px;

}

button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

div#img {
  max-width: 417px;
}
div#img img {
  width: 100%;
}

footer {
  text-align: center;
  font-family: var(--openSans);
  margin-top: 40px;
  font-size: 14px;
  line-height: 28px;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}

img#menu {
  display: none;
}

@media screen and (max-width: 600px){
  main {
    flex-direction: column;
    text-align: center;
  }
  div#img {
    margin: auto;
    width: 70%;
    order: -1;
  }
  header ul {
    display: none;
  }

  h1 {
    font-size: 2em;
  }
  img#menu {
    display: inline-block;
    width: 30px;
  }
  img#menu:hover {
    cursor: pointer;
  }

}